extends layout-admin

block content
  // section create finca
  section#contact.section
    .container
      .row
        .col-md-8.col-md-offset-2
          h2.text-center Crear Finca
          hr
          // start contact form
          #contact-form.cform
            form.contactForm(action='/fincas/add' method='POST' role='form' enctype="multipart/form-data")
              .form-group.text-center
                .reviewer__stars
                  each num in [5,4,3,2,1]
                    input(type="radio" required id=`star${num}` name="rating" value=num)
                    label(for=`star${num}`) #{num} Stars
              .form-group
                input.form-control(type='text' name='code' placeholder='Código' data-rule='minlen:4' data-msg='Por favor ingresa al menos 4 caracteres' required)
                .validation
              .form-group
                input.form-control(type="file" name="images" multiple required)
                | Selecciona las imágenes a subir
                .validation
              .form-group
                select(name='location').form-control
                  option(value='girardota') Girardota
                  option(value='copacabana') Copacabana
                  option(value='barbosa') Barbosa
                  option(value='san-jeronimo') San Jerónimo
                  option(value='santa-fe') Santa Fe de Ant.
                  option(value='sopetran') Sopetrán
                  option(value='otros') Otros
                .validation
              .form-group.text-center
                label.checkbox-inline
                  input(type='checkbox' name='swimmingPool' value='true')
                  | Piscina
                label.checkbox-inline
                  input(type='checkbox' name='turco' value='true')
                  | Turco
                label.checkbox-inline
                  input(type='checkbox' name='footballField' value='true')
                  | Cancha de fútbol
                label.checkbox-inline
                  input(type='checkbox' name='kiosk' value='true')
                  | Kiosko
                label.checkbox-inline
                  input(type='checkbox' name='greenZones' value='true')
                  | Zonas verdes
              .form-group.text-center
                label.checkbox-inline
                  input(type='checkbox' name='bbq' value='true')
                  | Asador con BBQ
                label.checkbox-inline
                  input(type='checkbox' name='childrenGames' value='true')
                  | Juegos infantiles
                label.checkbox-inline
                  input(type='checkbox' name='parking' value='true')
                  | Parqueadero
                label.checkbox-inline
                  input(type='checkbox' name='billiards' value='true')
                  | Billar
              .col-md-4
                .form-group
                  input.form-control(type='number' name='beds' placeholder='Camas' data-rule='minlen:1' data-msg='Por favor ingresa el número de camas' required)
                  .validation
              .col-md-4
                .form-group
                  input.form-control(type='number' name='rooms' placeholder='Habitaciones' data-rule='minlen:1' data-msg='Por favor ingresa el número de habitaciones' required)
                  .validation
              .col-md-4
                .form-group
                  input.form-control(type='number' name='baths' placeholder='Baños' data-rule='minlen:1' data-msg='Por favor ingresa el número de baños' required)
                  .validation
              .form-group
                textarea.form-control(name='description' rows='5' placeholder='Descripción')
                .validation

              .text-center
                button.btn.btn-lg.btn-theme(type='submit') Guardar
          // END contact form
  // end create finca