extends layout

block content
  // section works
  section#works.section.gray
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h2
              span(style="font-family: 'Kaushan Script', cursive;") Eventos Open
          .sub-heading
            p
              | Algunos de nuestros servicios
      .row
        .col-md-12
          ul#grid.grid.effect
            li
              a.fancybox(data-fancybox-group='gallery' title='Alimentación' href='img/eventos/img-1.png')
                img(src='img/eventos/img-1.png' alt='')
            li
              a.fancybox(href='img/eventos/img-2.png' data-fancybox-group='gallery' title='Entretenimiento')
                img(src='img/eventos/img-2.png' alt='')
            li
              a.fancybox(href='img/eventos/img-3.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-3.png' alt='')
            li
              a.fancybox(href='img/eventos/img-4.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-4.png' alt='')
            li
              a.fancybox(href='img/eventos/img-5.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-5.png' alt='')
            li
              a.fancybox(href='img/eventos/img-6.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-6.png' alt='')
            li
              a.fancybox(href='img/eventos/img-7.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-7.png' alt='')
            li
              a.fancybox(href='img/eventos/img-1.png' data-fancybox-group='gallery' title='Portfolio name')
                img(src='img/eventos/img-1.png' alt='')
  // end section works
  // section services
  section#nino-services
  .container
    .row
      .col-md-8.col-md-offset-2
        .heading
          h4 
            span Trabajamos con increíbles servicios
          hr
    .row
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-sun.fa-3x(style="color: #e9ba20;")
          .media-body
            h6.media-heading Días de sol
            p.text-justify(style="margin-bottom: 40px;") Proporcionamos espacios campestres para días de sol.
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-cocktail.fa-3x(style="color: #2F4858;")
          .media-body
            h6.media-heading Entretenimiento
            p.text-justify(style="margin-bottom: 40px;") Diseñamos y producimos todas las celebraciones del año.
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-spa.fa-3x(style="color: #e97f0f;")
          .media-body
            h6.media-heading Decoración/Ambientación
            p.text-justify(style="margin-bottom: 40px;") Creamos experiencias para todos los invitados a tu evento según el tema de tu interés.
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-home.fa-3x(style="color: #35aa74;")
          .media-body
            h6.media-heading Espacios Idóneos
            p.text-justify(style="margin-bottom: 40px;") Tenemos en nuestro portafolio más de 180 lugares campestres para el dellasorro de todo tipo de eventos.
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-utensils.fa-3x
          .media-body
            h6.media-heading Alimentación
            p.text-justify(style="margin-bottom: 40px;") Preparamos los sabores más exquisitos para toda tu alimentación.
      .col-md-4.col-sm-6.col-xs-6
        .media
          .pull-left
            i.fas.fa-birthday-cake.fa-3x(style="color: #b62c29;")
          .media-body
            h6.media-heading Celebraciones
            p.text-justify(style="margin-bottom: 40px;") Cumpleaños, aniversarios, grados, baby shower, primeras comuniones, despedidas de solteros/as, etc.
  // end section services