extends layout

include mixins/_pagination

block content
  // Section fincas
  section#about.section
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h4
              span #LugaresPerfectos
          .sub-heading
            p
              | Busca entre las mejores opciones para ti
      .row
        .col-md-2
          .list-group
            a.list-group-item.text-center(href='/fincas' class=(path === '/' ? 'pressed' : ''))
              h6 Todas
            a.list-group-item.text-center(href='/fincas/ubicacion/girardota' class=(path.startsWith('/ubicacion/girardota') ? 'pressed' : '')) Girardota
            a.list-group-item.text-center(href='/fincas/ubicacion/copacabana' class=(path.startsWith('/ubicacion/copacabana') ? 'pressed' : '')) Copacabana
            a.list-group-item.text-center(href='/fincas/ubicacion/barbosa' class=(path.startsWith('/ubicacion/barbosa') ? 'pressed' : '')) Barbosa
            a.list-group-item.text-center(href='/fincas/ubicacion/sopetran' class=(path.startsWith('/ubicacion/sopetran') ? 'pressed' : '')) Sopetrán
            a.list-group-item.text-center(href='/fincas/ubicacion/san-jeronimo' class=(path.startsWith('/ubicacion/san-jeronimo') ? 'pressed' : '')) San Jerónimo
            a.list-group-item.text-center(href='/fincas/ubicacion/santa-fe' class=(path.startsWith('/ubicacion/santa-fe') ? 'pressed' : '')) Santa Fe de Ant.
            a.list-group-item.text-center(href='/fincas/ubicacion/otros' class=(path.startsWith('/ubicacion/otros') ? 'pressed' : '')) Otros
        .col-md-10
          .row
            each finca in fincas
              .col-md-6.col-sm-6.col-xs-12
                a(title=`Finca ${finca.code}` href=`/fincas/finca/${finca.code}` style="text-decoration: none;")
                  .team-box
                    img.img-responsive(src=finca.images[0] alt='' style="height: 350px;")
                    .roles
                      h5
                        strong(style="text-transform:uppercase") Finca #{finca.code}
                      - var n = 0
                      while n < finca.rating
                        i.fa.fa-star.fa-lg.star
                        - n++
        .col-md-12
          .aligncenter
            +pagination(page, pages, count, location)
  // end section fincas
