extends layout

include mixins/_eventsGallery

block content
  // section intro
  section#intro
    ul#slippry-slider
      li
        a(href='#slide1')
          img(src='img/slide/1.jpg' alt='Bienvenidos a Open Fincas y Eventos <span style="color: #C1262D;">♥</span>')
      li
        a(href='#slide2')
          img(src='img/slide/2.jpg' alt='Diseñamos y producimos todas las celebraciones del año.')
      li
        a(href='#slide3')
          img(src='img/slide/3.jpg' alt="En nuestros #LugaresPerfectos te ofrecemos diversas fincas en renta para todo el año.")
  // end intro
  // Section fincas
  section#about.section
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h4
              span #LugaresPerfectos
          .sub-heading
            p
              | Busca entre las mejores opciones para ti
      .row
        .col-md-4
          .team-box
            img.img-responsive(src='img/fincas/gta.jpg' alt='')
            .roles
              h5
                strong Girardota
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
        .col-md-4
          .team-box
            img.img-responsive(src='img/fincas/copa.jpg' alt='')
            .roles
              h5
                strong Copacabana
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
        .col-md-4
          .team-box
            img.img-responsive(src='img/fincas/bsa.jpg' alt='')
            .roles
              h5
                strong Barbosa
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
              i.fa.fa-star.fa-lg
      .row
        .text-center
          a.btn.btn-lg.btn-brown(href="/fincas") Ver todas las fincas
  // end section fincas
  // section devices
  section#devices
    .container
      .row
        .heading
          h4
            span Comunícate con nosotros
          p
            | desde todos los dispositivos
          .aligncenter
            ul.social-network.social-circle
              li
                a(href='https://api.whatsapp.com/send?phone=+573002765567&amp;' target='_blank' title='Whatsapp')
                  i(style="color: rgba(249, 178, 51, 0.96)").fa.fa-whatsapp
              li
                a(href='https://www.facebook.com/Openfincas/?__tn__=%2Cd%2CP-R&eid=ARCNiL1VraWDO09atI8IszT-0LGvrhMGCQQCUJvb9e0bQ9cfHtkvXAx6dNuU-HqIdvbU7iPIet8UVilD' target='_blank' title='Facebook')
                  i(style="color: rgba(249, 178, 51, 0.96)").fa.fa-facebook
              li
                a(href='https://www.instagram.com/open_eventos_fincas/?hl=es-la' target='_blank' title='Instagram')
                  i(style="color: rgba(249, 178, 51, 0.96)").fa.fa-instagram
      .devices
        img.tablet(src='img/devices/img-1.png' alt='')
        img.mobile(src='img/devices/img-2.png' alt='')
  // end section devices
  // section services
  section#nino-services
  .container
    .row
      .col-md-8.col-md-offset-2
        .heading
          h3
            span Trabajamos con increíbles servicios
            hr
    .row
      .col-md-4
        .media
          .pull-left
            i.font-icon-home.fa-3x(style="color: #7B2864;")
          .media-body
            h4.media-heading Para Tu Empresa
            p.text-justify Proporcionamos espacios campestres para días de sol.
            p.text-justify Diseñamos y producimos todas las celebraciones del año.
            p.text-justify Logística completa de tus programaciones academicas.
            p.text-justify Experiencias alternativas para promocionar tus productos o servicios.
            p(style="margin-bottom: 40px;").text-justify Estamos preparados para satisfacer toda tu línea de interés (Familia, proveedores, empleados, asociados.)
      .col-md-4
        .media
          .pull-left
            i.font-icon-user.fa-3x(style="color: #2F4858;")
          .media-body
            h4.media-heading Para Ti
            p.text-justify Celebraci&oacute;n de cumplea&ntilde;os, aniversarios, grados, baby shower, primeras comuniones, despedidas de solteros/as, etc.
            p.text-justify En #LugaresPerfectosOpen te ofrecemos diversas fincas en renta para todo el a&ntilde;o.
            p(style="margin-bottom: 40px;").text-justify Programate con Open para disfrutar de tus vacaciones con los innumerables viajes nacionales e internacionales.
      .col-md-4
        .media
          .pull-left
            i.fa.fa-heart.fa-3x(style="color: #C1262D;")
          .media-body
            h4.media-heading Wedding Planner
            p.text-justify Ofrecemos acompañamiento de una profesional en diseño, encargada de dirigir, contactar y concretar cada detalle de tu boda.
  // end section services
  
  +eventsGallery()
  
  // section clients
  section#clients.section.gray
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h4
              span Marcas que confian en nosotros
          .sub-heading
            p
              | Hemos atentido algunas divisiones, dependencias y/o empresas completas
      .row
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-7.jpg' alt='' width="60%")
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-10.png' alt='' width="60%")
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-1.png' alt='')
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-6.png' alt='' width="80%")
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-3.png' alt='')
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-4.png' alt='')
      .row
        .col-md-2.col-sm-4.col-xs-6.col-md-offset-1
          img.img-responsive.aligncenter(src='img/brand/img-5.png' alt='')
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-2.png' alt='')
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-11.png' alt='' width="50%")
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-8.png' alt='')
        .col-md-2.col-sm-4.col-xs-6
          img.img-responsive.aligncenter(src='img/brand/img-9.png' alt='')
  // section clients
  // section contact
  section#contact.section
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h3
              span CONTÁCTANOS
              hr
          .sub-heading
            p
              | En Open encontrarás gran variedad fincas y todo tipo de espacios campestres, con nuestra experiencia en eventos empresariales y sociales podremos brindarte los mejores eventos y experiencias de tu vida, también podrás disfrutar de los viajes mas deseados de tu vida
    .container
      .row
        .col-md-6
          h4 Encuentra nuestra Casa Open
          p Ver desde mapa de Google
          // map
          #section-map.clearfix
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1982.5676665633841!2d-75.4500292!3d6.3765252!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e443b4ef9350b07%3A0x5d1af6932995f0a!2sCasa%20Open%20Fincas%20Eventos%20%26%20Catering!5e0!3m2!1ses!2sco!4v1577722606234!5m2!1ses!2sco' width='100%' height='400' frameborder='0' style='border:0' allowfullscreen='')
        .col-md-6
          h4
            i.icon-envelope
            strong Formulario de Contacto
          p
            | ¡Cotiza Ahora!
          // start contact form
          #contact-form.cform
            #sendmessage Tu mensaje ha sido enviado. Gracias!
            #errormessage
            form.contactForm(action='/email' method='post' role='form')
              .form-group
                input#name.form-control(type='text' name='name' placeholder='Tu Nombre' data-rule='minlen:4' data-msg='Por favor ingresa al menos 4 caracteres')
                .validation
              .form-group
                input#email.form-control(type='email' name='email' placeholder='Tu Email' data-rule='email' data-msg='Por favor ingresa un email válido')
                .validation
              .form-group
                input#subject.form-control(type='text' name='phone' placeholder='Teléfono' data-rule='minlen:7' data-msg='Por favor ingresa al menos 7 dígitos')
                .validation
              .form-group
                textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Por favor escribe algo para nosotros' placeholder='Mensaje')
                .validation
              .text-center
                button.btn.btn-lg.btn-theme(type='submit') Enviar Mensaje
          // END contact form
  // end section contact