extends layout

block content
  // section login
  section#contact.section
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.text-center Administración
          br
          // start login form
          #contact-form.cform
            form.contactForm(action='/login' method='POST' role='form')
              .form-group
                input.form-control(type='text' name='username' placeholder='Nombre de usuario' data-rule='minlen:5' data-msg='Por favor ingresa al menos 5 caracteres' required)
                .validation
              .form-group
                input.form-control(type='password' name='password' placeholder='Contraseña' data-rule='minlen:6' data-msg='Por favor ingresa al menos 6 caracteres' required)
                .validation

              .text-center
                button.btn.btn-lg.btn-theme(type='submit') Entrar
          // END login form
  // end login