extends layout

block content
  // section works
  section#works.section.gray
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h2
              span Wedding Planner
              hr
          .sub-heading
            p
              | Para hacer el mejor día de tu vida mucho más inolvidable
      .row
        .col-md-12
          ul#grid.grid.effect
            li
              a.fancybox(data-fancybox-group='gallery' title='Wedding Planner' href='img/wedding/plantilla.png')
                img(src='img/wedding/plantilla.png' alt='')
            li
              a.fancybox(href='img/wedding/w1.png' data-fancybox-group='gallery' title='Alimentación')
                img(src='img/wedding/w1.png' alt='')
            li
              a.fancybox(href='img/wedding/w2.png' data-fancybox-group='gallery' title='Repostería')
                img(src='img/wedding/w2.png' alt='')
            li
              a.fancybox(href='img/wedding/w3.png' data-fancybox-group='gallery' title='Decoración')
                img(src='img/wedding/w3.png' alt='')
            li
              a.fancybox(href='img/wedding/w4.png' data-fancybox-group='gallery' title='Acompañamiento')
                img(src='img/wedding/w4.png' alt='')
  // end section works