mixin eventsGallery
  // section events
  section#works.section.gray
    .container
      .row
        .col-md-8.col-md-offset-2
          .heading
            h2
              span(style="font-family: 'Kaushan Script', cursive;") Eventos Open
          .sub-heading
            p
              | Algunos de nuestros servicios
      .row
        .col-md-12
          ul#grid.grid.effect
            li
              a.fancybox(data-fancybox-group='gallery' title='Alimentación' href='img/eventos/img-1.png')
                img(src='img/eventos/img-1.png' alt='<h6 style="color: white;">Preparamos los sabores más exquisitos para toda tu alimentación</h6>')
            li
              a.fancybox(href='img/eventos/img-2.png' data-fancybox-group='gallery' title='Entretenimiento')
                img(src='img/eventos/img-2.png' alt='<h6 style="color: white;">Brindamos las mejores actividades para hacer más divertido tu evento</h6>')
            li
              a.fancybox(href='img/eventos/img-3.png' data-fancybox-group='gallery' title='Decoración/Ambientación')
                img(src='img/eventos/img-3.png' alt='<h6 style="color: white;">Creamos experiencias para todos los invitados a tu evento según el tema de tu interés</h6>')
            li
              a.fancybox(href='img/eventos/img-4.png' data-fancybox-group='gallery' title='Lugares Idóneos')
                img(src='img/eventos/img-4.png' alt='<h6 style="color: white;">Tenemos en nuestro portafolio más de 180 lugares campestres para el dellasorro de todo tipo de eventos</h6>')
            li
              a.fancybox(href='img/eventos/img-5.png' data-fancybox-group='gallery' title='Personal Open')
                img(src='img/eventos/img-5.png' alt='<h6 style="color: white;">Contamos con personal de apoyo para la logística en el desarrollo total del evento</h6>')
            li
              a.fancybox(href='img/eventos/img-6.png' data-fancybox-group='gallery' title='Transporte')
                img(src='img/eventos/img-6.png' alt='<h6 style="color: white;">Nos encargamos de transportar a cada uno de los integrantes del evento</h6>')
            li
              a.fancybox(href='img/eventos/img-7.png' data-fancybox-group='gallery' title='Asesoramiento')
                img(src='img/eventos/img-7.png' alt='<h6 style="color: white;">Brindamos asesoramiento para la planeación y ejecuación del evento</h6>')
            li
              a.fancybox(data-fancybox-group='gallery' title='Catering' href='img/eventos/img-8.jpeg')
                img(src='img/eventos/img-8.jpeg' alt='<h6 style="color: white;">Celebra a lo grande tus fiestas o eventos con nuestro servicio de #CateringOpen y deleitate con estos ricos sabores!</h6>')
  // end section events